<div class="footer-container">
    <div class="footer-main">
        <div class="footer-title">LiverScan V</div>
        <div class="footer-divs">
            <div class="footer-div">
                <div class="footer-div-title">Contact Us</div>
                <div class="footer-div-text">
                    <a href="mailto:liverscancloud@gmail.com">liverscancloud@gmail.com</a>
                </div>
                <div class="footer-div-text">(02) 8123 4567</div>
            </div>
            <div class="footer-div">
                <div class="footer-div-title">Help us improve our work</div>
                <div class="footer-div-text">Google Forms</div>
            </div>
        </div>
        <div class="footer-end">@ LiverScan V 2025</div>
    </div>
</div>  