{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="footer-container">
    <div class="footer-main">
        <div class="footer-title">LiverScan V</div>
        <div class="footer-divs">
            <div class="footer-div">
                <div class="footer-div-title">Contact Us</div>
                <div class="footer-div-text">
                    <a href="mailto:liverscancloud@gmail.com">liverscancloud@gmail.com</a>
                </div>
            </div>
            <div class="footer-div">
                <div class="footer-div-title">Help us improve our work</div>
                <div class="footer-div-text"><a href="https://forms.gle/oDdXKRur4RVSP5v7A">Google Forms</a></div>
            </div>
        </div>
        <div class="footer-end">@ LiverScan V 2025</div>
    </div>
</div>  